.bodybg{
    -fx-background-image: url("../image/backgroundMain.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-background-insets: 0;
}